APP_REPOSITORY=memory
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=fit5225-wildlife-media-metadata

# Configure through Cloud Run Secret Manager references.
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_SESSION_TOKEN=
