.gcloudignore
.git/
.gitignore

__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/
.venv-model/
.env

model_artifacts/
models/
model/

*.pt
*.pth
*.onnx
*.h5
*.pkl
*.zip

cropped_images/
mg_detections.json
.DS_Store